@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;0,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: 6px;
    scrollbar-color: theme('colors.grey.500') theme('colors.white');
    box-sizing: border-box;
  }

  *::-webkit-scrollbar {
    @apply w-[6px];
    @apply h-[6px];
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-full;
    @apply bg-grey-500;
  }

  :focus-visible {
    outline: 0;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-md;
  }

  strong,
  b {
    @apply font-bold !important;
  }
}